body {
    padding-left: 20px;
}

ul li:hover ul {
    display: block;
}

.jumbotron {
    border: solid 2pt white;
    border-radius: 10px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.jumbotron h1 {
    font-size: 36pt;
}

.jumbotron li {
    font-size: 14pt;
}

img {
    width: 100%;
}

h1 {
    font-size: 20pt;
}

.thumbnail img {
    width: 100%;
}

.course1 {
    display: block;
    margin: auto;
}

.homework p {
    text-align: center;
}
