@import'pics/*.png';
@import 'compass/css3';
$img-height:58px;
.body {
    background: #fafbff;
    font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
}

.head {
    width: 100%;
    height: 86px;
    @include background-image(linear-gradient(to bottom, #92ca18, #699d0f));
    margin: 0 auto;
    span {
        color: #fff;
        font-weight: bold;
        position: absolute;
        left: 50%;
        margin-left: -20px;
        top: 30px;
        @include box-sizing(border-box);
    }
    .manage {
        float: left;
        margin-left: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    .add {
        float: right;
        margin-right: 15px;
    }
    i {
        width: 89px;
        height: 55px;
        font-size: 40px;
        color: #fff;
        margin-top: -10px;
    }
    .manage,
    .add {
        width: 89px;
        height: 55px;
        color: #fff;
        margin-top: 15px;
        padding-top: 20px;
        text-align: center;
        @include box-sizing(border-box);
        @include border-radius(10px);
        @include background-image(linear-gradient(to bottom, #92ca18, #699d0f));
        @include single-box-shadow(-1px, -1px, 5px, 0.5px, rgba(0, 0, 0, 1));
    }
}

.box {
    width: 100%;
    height: 88px;
    background-color: #dadde2;
    .search-icon {
        position: absolute;
        padding-top: 20px;
        padding-left: 5px;
    }
    i {
        font-size: 40px;
        color: #a4a8b3;
        float: left;
    }
    .search {
        width: 100%;
        height: 55px;
        font-size: 20px;
        margin-top: 15px;
        padding-left: 40px;
        @include border-radius(27.5px);
    }
}

.list1-head,
.list2-head {
    width: 100%;
    height: 49px;
    span {
        font-size: 18px;
        font-weight: bold;
        color: #989898;
        position: relative;
        left: 20px;
        top: 14px;
    }
    @include background-image(linear-gradient(to bottom, #fdfdfd, #e7e7e7));
}

.list1,
.list2 {
    width: 100%;
    height: 100px;
    border-top: 1px solid #ccc;
    .icon {
        width: 100px;
        height: 100px;
        background-color: #c1c7ce;
        position: absolute;
        left: 0;
        @include box-sizing(border-box);
    }
    span {
        color: #000;
        font-size: 20px;
        font-weight: bold;
        position: relative;
        left: 100px;
        top: 40px;
        @include box-sizing(border-box);
    }
}

.list1 i {
    width: 100px;
    height: 100px;
    color: #fff;
    font-size: 65px;
    float: left;
    padding-left: 10px;
    padding-top: 20px;
}

.list2 i {
    width: 100px;
    height: 100px;
    color: #fff;
    font-size: 65px;
    float: left;
    padding-left: 25px;
    padding-top: 20px;
}

.hbd {
    font-size: 20px;
    color: #8fc717;
    position: absolute;
    right: 0px;
    margin-top: 50px;
    margin-right: 25px;
    z-index: 1;
    &:after {
        content: '';
        width: 126px;
        height: 55px;
        display: inline-block;
        border: solid 1px #c3c3c3;
        position: absolute;
        right: -23px;
        bottom: -15px;
        z-index: 0;
        @include box-sizing(border-box);
        @include border-radius(10px);
    }
    ;
}

.fa-female.icon {
    background-color: #ffcae1;
}

.fa-male.icon {
    background-color: #acd9e2;
}

.m-icon {
    width: 100%;
    height: 100px;
    position: relative;
    background-color: #000;
    @include border-radius(0 0 8px 8px);
    overflow: hidden;
    i {
        width: 72px;
        height: 58px;
        margin: 25px auto;
        background-image: no-repeat;
        background-image: url('../img/pics-s260884b2ff.png');
        background-size: 72px;
        display: block;
    }
    li {
        width: 25%;
        height: 100%;
        float: left;
    }
    .link {
        width: 100%;
        height: inherit;
        display: inline-block;
    }
}

.line i {
    background-position-y: -$img-height*0
}

;
.line.is-active i {
    background-position-y: -$img-height*1
}

;
.member i {
    background-position-y: -$img-height*2
}

;
.member.is-active i {
    background-position-y: -$img-height*3
}

;
.message i {
    background-position-y: -$img-height*4
}

;
.message.is-active i {
    background-position-y: -$img-height*5
}

;
.options i {
    background-position-y: -$img-height*6
}

;
.options.is-active i {
    background-position-y: -$img-height*7
}

;
